includes:
    - phpstan-baseline.neon
    - misc/BAGArt/tgbot-module-nettools/phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - app
        - misc
    excludePaths:
        - misc/BAGArt/php-async-kernel-client/vendor
        - misc/BAGArt/tgbot-game-mafia/vendor
        - misc/BAGArt/tgbot-module-tts/vendor
    inferPrivatePropertyTypeFromConstructor: true
